html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body,
html {
  height: 100%;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  color: $text;
  overflow-x: hidden;
}

button {
  cursor: pointer;
  outline: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  font-weight: 400;
}

.container {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrap {
  display: grid;
  grid-template-columns: 395px 1fr;
}