.promotion-slider {
    padding: 80px 0 100px 0;
    background-color: #F7F7F7;

    @media (max-width: 768px) {
        padding: 48px 0 50px 0;
    }

    &__inner {
        display: grid;
        grid-template-columns: 305px 800px;
        justify-content: space-between;

        @media (max-width: 1200px) {
            grid-template-columns: 1fr;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 28px;
        line-height: 1.4;
        text-align: right;

        @media (max-width: 1200px) {
            text-align: left;
            margin-bottom: 25px;
        }

        @media (max-width: 576px) {
            font-size: 20px;
            text-align: center;
            padding: 0 30px;
        }
    }

    &__container {
        display: grid;
        grid-template-columns: 85px 585px;
        justify-content: space-between;
        width: 100%;

        @media (max-width: 1200px) {
            grid-template-columns: 85px 1fr;
            column-gap: 70px;
        }

        @media (max-width: 768px) {
            display: flex;
            flex-direction: column-reverse;
            padding-bottom: 10px;

        }
    }

    &__items {
        max-height: 300px;

        @media (max-width:576px) {
            max-height: fit-content;
        }
    }

    .swiper-slide {
        list-style: none;
    }

    &__stage {
        display: none;
        font-weight: 600;
        color: $btn;
        margin-bottom: 5px;

        @media (max-width:768px) {
            display: block;
        }
    }

    &__pagination {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 10px;
        right: 10px;
        background-color: #fff;
        max-width: 4px;
        width: 100%;
        height: 300px;
        margin-left: 90px;
        border-radius: 2px;

        @media (max-width: 768px) {
            display: flex;
            flex-direction: row;
            max-width: fit-content;
            height: 10px;
            bottom: 0;
            background-color: transparent;
            margin: 40px auto 0;
        }
    }

    .swiper-pagination-bullet {
        position: relative;
        background-color: transparent;
        width: 4px;
        height: 60px;
        border-radius: 2px;
        opacity: 1;
        font-weight: 500;

        @media (max-width: 768px) {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #ABABAB;
        }
    }

    &__num {
        min-width: 55px;
        width: 100%;
        letter-spacing: 0.5px;
        color: #ABABAB;
        position: absolute;
        left: -80px;

        @media (max-width:768px) {
            display: none;
        }
    }

    .swiper-pagination-bullet-active {
        .promotion-slider__num {
            color: $btn;
            font-weight: 600;
        }

        background-color: $btn;
    }

    .swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0;

        @media (max-width: 768px) {
            margin: 0 10px;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(2, 285px);
        column-gap: 40px;
        row-gap: 40px;

        @media (max-width:768px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width:576px) {
            grid-template-columns: 1fr;
            row-gap: 12px;
        }
    }

    &__item-title {
        font-size: 20px;
        font-weight: 600;
        line-height: 1.2;
        margin-bottom: 30px;

        @media (max-width: 768px) {
            margin-bottom: 16px;
        }
    }

    &__text {
        box-sizing: border-box;
        position: relative;
        max-width: 285px;
        width: 100%;
        padding: 8px 0 8px 45px;
        counter-increment: section;
        list-style: none;
        overflow: hidden;

        &::before {
            position: absolute;
            content: "0"counter(section);
            left: 0;
            color: #ABABAB;
            font-family: 'OpenSans';
            font-weight: 800;
            font-size: 26px;
            line-height: 1.3;
            opacity: 0.3;
        }

        @media (max-width: 576px) {
            max-width: 100%;

            &::before {
                top: 3px;
            }
        }
    }
}